
@{
    ViewBag.Title = "Index";
}

<h2>Admin Login Page</h2>

<form action="?AdminLogin/Index" method="post">
    <input type="text" class="form-control" name="Username" placeholder="Username" /><br />
    <input type="password" class="form-control" name="Password" placeholder="Password" />

    <br />
    <input type="submit" value="Login" class="btn btn-success">
</form>