<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/AdminTemplate/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/AdminTemplate/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="~/AdminTemplate/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="~/AdminTemplate/js/jquery-1.11.1.min.js"></script>
    <script src="~/AdminTemplate/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/AdminTemplate/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/AdminTemplate/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- chart -->
    <script src="~/AdminTemplate/js/Chart.js"></script>
    <!-- //chart -->
    <!--Calender-->
    <link rel="stylesheet" href="~/AdminTemplate/css/clndr.css" type="text/css" />
    <script src="~/AdminTemplate/js/underscore-min.js" type="text/javascript"></script>
    <script src="~/AdminTemplate/js/moment-2.2.1.js" type="text/javascript"></script>
    <script src="~/AdminTemplate/js/clndr.js" type="text/javascript"></script>
    <script src="~/AdminTemplate/js/site.js" type="text/javascript"></script>
    <!--End Calender-->
    <!-- Metis Menu -->
    <script src="~/AdminTemplate/js/metisMenu.min.js"></script>
    <script src ="~/AdminTemplate/js/custom.js"></script>
    <link href="~/AdminTemplate/css/custom.css" rel="stylesheet">
        <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/Admin/Index" class="active"><i class="fa fa-user nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/Admin/ManageManager" class="active"><i class="fa fa-user nav_icon"></i>Manage Manager</a>
                        </li>

                        <li>
                            <a href="/Admin/ManageCustomer" class="active"><i class="fa fa-user nav_icon"></i>Manage Customer</a>
                        </li>

                        <li>
                            <a href="/Admin/ManageServiceProvider" class="active"><i class="fa fa-user nav_icon"></i>Manage Service Provider</a>
                        </li>

                        <li>
                            <a href="/Admin/ManageService" class="active"><i class="fa fa-book nav_icon"></i>Manage Services</a>
                        </li>

                        <li>
                            <a href="/Admin/ManageComplain" class="active"><i class="fa fa-warning nav_icon"></i>Manage Complaints</a>
                        </li>

                        <li>
                            <a href="/Admin/ManageBookedService" class="active"><i class="fa fa-clock-o nav_icon"></i>Manage Booked Services</a>
                        </li>

                        <li>
                            <a href="/Admin/PaymentStatus" class="active"><i class="fa fa-money nav_icon"></i>View Payment Status</a>
                        </li>

                    </ul>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--logo -->
                <div class="logo">
                    <a href="/Home/Index">
                        <h1>Ghor Sheba</h1>
                        <span>Admin Panel</span>
                    </a>
                </div>
                <!--//logo-->
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
   
                                    <span class="prfil-img"><img  src="~/icons/user.png" alt="" width="35px" height="35px"> </span>
                                    <div class="user-name">
                                        @{ var x = ViewData["username"];}
                                        <p>@x</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="~/Admin/Profile"><i class="fa fa-user"></i> Profile</a> </li>
                                <li> <a href="/Login/Logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->

        @RenderBody();

        <!--footer-->
        <div class="footer">
            <p>&copy; Ghor Sheba. All Rights Reserved</a></p>
        </div>
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/AdminTemplate/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js-->
    <script src="~/AdminTemplate/js/jquery.nicescroll.js"></script>
    <script src="~/AdminTemplate/js/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/AdminTemplate/js/bootstrap.js"></script>
</body>
</html>