
@model Lab_Task_2.Models.Student

@{
    ViewBag.Title = "CreateSubmit";
}

<h2>CreateSubmit</h2>

<!--
    Name : @ViewBag.name<br />
    Id : @ViewBag.id
-->

    Name : @Model.name<br />
    Id : @Model.id