<!DOCTYPE html>

<html>
<head>
    <title>My Profile</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Custom Signup Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Style-Sheet -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/CustomerTemplate/Profile/css/style.css" type="text/css" media="all">
    <!-- Calendar-CSS -->
    <link rel="stylesheet" src="~/CustomerTemplate/Profile/js/jquery-ui.js" type="text/css" media="all">
    <!-- //Custom-Style-Sheet -->
    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" media="all">
    <!-- //Fonts -->

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
