
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<education>
    <h4><b><u>Bachelor of Science (B.Sc.) in Computer Science and Engineering (4 years)</u></b></h4>
    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Institution</th>
                <td> <b>:</b> American International University-Bangladesh (AIUB)</td>
            </tr>
            <tr>
                <th>Department</th>
                <td> <b>:</b>Computer Science and Engineering</td>
            </tr>
            <tr>
                <th>CGPA</th>
                <td>
                    <b>:</b>3.62 (out of 4.00)
                </td>
            </tr>
            <tr>
                <th>Passing Year</th>
                <td>
                    <b>:</b>Ongoing, expected graduation 2021-2022, FALL
                </td>
            </tr>
        </tbody>
    </table>

    <h4><b><u>Higher Secondary Certificate (H.S.C) (2 years)</u></b></h4>
    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Institution</th>
                <td> <b>:</b>Faridpur City Collage</td>
            </tr>
            <tr>
                <th>Board</th>
                <td> <b>:</b>Dhaka</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>
                    <b>:</b>Science
                </td>
            </tr>
            <tr>
                <th>GPA</th>
                <td>
                    <b>:</b>4.00(out of 5.00)
                </td>
            </tr>
            <tr>
                <th>Passing Year</th>
                <td>
                    <b>:</b>2017
                </td>
            </tr>
        </tbody>
    </table>

    <h4><b><u>SecondarySchoolCertificate(S.S.C)(10years)</u></b></h4>
    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Institution</th>
                <td> <b>:</b>BaharpurHigh School</td>
            </tr>
            <tr>
                <th>Board</th>
                <td> <b>:</b>Dhaka</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>
                    <b>:</b>Science
                </td>
            </tr>
            <tr>
                <th>GPA</th>
                <td>
                    <b>:</b>4.67(out of 5.00)
                </td>
            </tr>
            <tr>
                <th>Passing Year</th>
                <td>
                    <b>:</b>2015
                </td>
            </tr>
        </tbody>
    </table>
</education>
