
@{
    ViewBag.Title = "Object";
}

<h2><b>Object</b></h2>

<object>
    <p>
        To put my experience and skills to good use,to take advantage of any oportunities for professional
        development, and to contribute in the most effective wayto the betterment of the organization and myselt.
    </p>
</object>
