
@{
    ViewBag.Title = "Contract";
}

<h2>Contract</h2>

<contract>
    <h2>Ruhul Amin</h2>
    <h4>Contact No : +88 01743-369163</h4>
    <h4>E-mail : raridoy4@gmail.com</h4>
    <h4>Address : 13/6 Nikunjo-2, Khilkhet, Dhaka-1230</h4>
</contract>

