
@{
    ViewBag.Title = "Project";
}

    <h2><b>My Projects</b></h2>

    <h4>GymManagement System Using OracleDatabase</h4>
    <h4>Restaurant BillingSystem Using Java</h4>
    <h4>VampyrShooter GameUsingUnity CSharp</h4>
    <h4>  Human ResourceManagement System Using HTML, CSS, Java script, Ajax,PHP</h4>
    <h4> Fintech FlyCashUsingLaravel and React.js</h4>
 

