
@{
    ViewBag.Title = "Refearence";
}

<h2<b>>Refearence</b></h2>

    <h4>DR. Dip Nandi</h4>
    <h4>Associate Professor and Director</h4>
    <h4>Faculty of Science and Technology</h4>
    <h4>American International University-Bangladesh (AIUB)</h4>
    <h4>E-mail: dip.nandi@aiub.edu</h4>

