
@{
    ViewBag.Title = "Skill";
}

<h2>Skill</h2>

    <h4><b>Technical Skills</b></h4>

    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Programing Language</th>
                <td> <b>:</b>C, C++, CSharp, JAVA, Assembly</td>
            </tr>
            <tr>
                <th>Markup & Scripting Language</th>
                <td> <b>:</b>HTML, CSS, JAVA SCRIPT, PHP</td>
            </tr>
            <tr>
                <th>Database</th>
                <td> <b>:</b>Oracle,SQL,MySQL</td>
            </tr>
            <tr>
                <th>Software</th>
                <td>
                    <b>:</b>MATLAB, Auto CAD, Code Blocks, Visual studio, Cisco PacketTracer, Emu8086, zampp
                </td>
            </tr>
            <tr>
                <th>Framework</th>
                <td>
                    <b>:</b>Laravel, Node.js,ASP.Net, React.js
                </td>
            </tr>
            <tr>
                <th>Application Programs</th>
                <td>
                    <b>:</b>Microsoft Word, Microsoft Excel,MicrosoftPowerPoint
                </td>
            </tr>
        </tbody>
    </table>