
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>

<address>
    <h2>Ruhul Amin</h2>
    <h4>Contact No : +88 01743-369163</h4>
    <h4>E-mail : raridoy4@gmail.com</h4>
    <h4>Address : 13/6 Nikunjo-2, Khilkhet, Dhaka-1230</h4>

    <p>
        To put my experience and skills to good use,
        to take advantage of any oportunities for professional
        development, and to contribute in the most effective way
        to the betterment of the organization and myselt.
    </p>
</address>



