
@{
    ViewBag.Title = "Index";
}

<h2>Login Page</h2>

<form action="?Auth/Index" method="post">
    <input type="number" class="form-control" name="id" placeholder="id" /><br />
    <input type="password" class="form-control" name="password" placeholder="password" />

    <br />
    <input type="submit" value="Login" class="btn btn-success">
</form>

